@page
@model JonaDemo.IndexModel
@{
    ViewData["Title"] = "Books";
}


<div class="row card">
    <div class="card-header pt-1">
        <div class="row">
            <div class="col-2"></div>

            <div class="col-8 text-center">
                <h2>Books List</h2>
            </div>

            <div class="col-2 text-right">
                <a class="btn btn-success" asp-page="/Posts/PostsForm"><i class="fa fa-plus"></i> New Book</a>
            </div>
        </div>
    </div>


    @if (Model.posts.Count > 0)
    {

        foreach (var post in Model.posts)
        {
            <div class="card-body">

                <div class="card-deck row">



                    <div class="card booking-card col-md-4 col-sm-6">
                        <!-- Card image -->
                        <div class="view overlay">
                            <img class="card-img-top" src="@post.UrlCoverImage" alt="Card image cap" style="height:300px;">
                            <a href="#!">
                                <div class="mask rgba-white-slight"></div>
                            </a>
                        </div>

                        <!-- Card content -->
                        <div class="card-body">
                            <!-- Title -->
                            <h4 class="card-title font-weight-bold text-center border-bottom mb-2"><a>@post.Name</a></h4>


                            <p class="mt-2 text-justify">@post.Description></p>

                            <a class="btn btn-primary btn-block" download="" href="@post.UrlUpoadedFile">Download</a>

                        </div>
                    </div>
                </div>

            </div>
        }
    }
    else
    {
        <div class="row pt-5 pb-5">
            <div class="col-12 text-center">There are not registered books!</div>
        </div>
    }


</div>